.buttons {
    width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-trash:hover {
    cursor: pointer;
    color: #c61919;
}

.fa-edit:hover {
    cursor: pointer;
    color: #2196f3;
}

.fa-eye:hover {
    cursor: pointer;
    color: #c29932;
}

.fa-check:hover {
    cursor: pointer;
    color: green;
}

@media (max-device-width: 768px) {
    .buttons {
        width: 60%;
        margin-top: 10px;
    }
}
