@font-face {
    font-family: 'adam';
    src:url('../font-style/Adam.otf') format('opentype');
}

@font-face {
    font-family: 'roboto';
    src: url('../font-style/RobotoCondensed-Light.ttf') format('truetype');
}

* {
    font-family: 'roboto';
    color: rgb(73, 73, 73);
}

html,
body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'adam';
    font-variant: small-caps;
    text-align: center;
    color: #c29932;
    font-size: 50px;
}

h2 {
    font-family: 'adam';
    font-variant: small-caps;
    color: #c29932;
}

p, a {
    margin: 0;
    color: rgb(73, 73, 73);
    text-align: justify;
}

/************** CONTENT **************/

.content {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content a,
.content a:visited {
    text-decoration: none;
}

/************** FORMS **************/

.content .forms {
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {

    h1 {
        font-size: 30px;
    }

    h2 {
        text-align: center;
    }

    .content {
        height: 100%;
    }
}
