@import url("./style.css");

.content {
    background: url('../img/wolf.jpg');
    background-size: cover;
    background-position: top;
}

/************** ARTICLES **************/

.content .articles {
    width: 1000px;
    min-height: 695px;
    margin: 100px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .articles h1 {
    padding: 10px 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px 0px #555454;
}

/************** ARTICLE ADMIN **************/

.content .articles .article {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px 0px #555454;
}

.content .articles .article .id-article {
    color: #555454;
    font-size: 22px;
}

.content .articles .article .box {
    height: 100px;
    width: 92%;
    padding: 10px;
}

.content .articles .article .lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content .articles .article .lower .article-admin {
    width: 70%;
    text-align: left;
}

/************** ARTICLE **************/

.content .articles .article .box-article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #555454;
    padding: 15px;
}

.content .articles .article .box-article .content-article {
    width: 950px;
}

.content .articles .center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
