@import url("./style.css");

.content {
    background: url('../img/husky.jpg');
    background-size: cover;
    background-position: bottom;
}

/************** ARTICLE **************/

.content .article {
    width: 1000px;
    min-height: 695px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 100px 0 20px 0;
    padding: 20px;
    background-color: #ffffffe6;
    box-shadow: 0px 0px 10px 0px #555454;
}

/************** CONTENT-ARTICLE **************/

.content .article .content-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/************** BAR **************/

.element {
    width: 100%;
    height: 1px;
    display: flex;
    margin: 40px 0 20px;
}

.element .bar {
    width: 100%;
    background-color: #c29932;
}

/************** COMMENTS *************************************/

.content .article .comments {
    display: flex;
    flex-direction: column;
}

.content .article .comment {
    border: 1px solid #beb9b9;
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
    background-color: white;
}

.content .article .comment .upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content .article .comment .upper h3 {
    margin: 5px 0;
}

.content .article .comment .lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content .article .comment .lower .submit {
    background-color: white;
    border: 1px solid #c61919;
    border-radius: 4px;
    font-size: 15px;
    padding: 2px;
    color: #c61919;
    font-weight: bold;
    cursor: pointer;
}

.content .article .comment .lower .submit:hover {
    background-color: #c61919;
    color: white;
    transition: 0.5s;
}

/************** FORMS **************/

.content .article .comments .forms {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content .article .comments .forms .name {
    border: 1px solid #beb9b9;
    border-radius: 4px;
    padding: 5px;
}

.content .article .comments .forms .text {
    height: 100px;
    border: 1px solid #beb9b9;
    border-radius: 4px;
    padding: 5px;
}

@media (max-device-width: 768px) {

    .content .article {
        width: 90%;
        height: 100%;
        margin-top: 95px;
    }
}
