/************** ACCUEIL **************/

.content .header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../img/alaska.jpg');
    background-size: cover;
    background-position: center;
}

.content .header .title {
    margin-bottom: 150px;
    text-shadow: 2px 2px 2px black;
    color: white;
    font-size: 80px;
}

.content .bio {
    height: 93vh;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.content .bio .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content .bio .last-article .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.content .bio .last-article .article .content-article h2 {
    text-align: center;
}

@media (max-width: 1020px) {

    .content .bio {
        width: 90%;
        height: 100%;
        padding-top: 80px;
        padding-bottom: 20px;
    }
}

@media (max-width: 767px) {

    .content .header {
        display: none;
    }
}
