@import url("./style.css");

/************** ARTICLE **************/

.content .article {
    width: 1000px;
    margin-top: 100px;
}

.content .article .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content .article .status {
    font-size: 18px;
}

.content .article #title {
    width: 98%;
}

.content .article .input {
    border: 1px solid #beb9b9;
    border-radius: 4px;
    padding: 8px;
    font-size: 18px;
}

#save-article {
    margin: 15px 0;
}
