.content {
    background: url('../img/lac.jpg');
    background-size: cover;
    background-position: top;
}

/************** ARTICLES **************/

.content .articles {
    width: 1000px;
    min-height: 695px;
    margin: 100px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .articles h1 {
    padding: 10px 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);;
}

/************** ARTICLE ADMIN **************/

.content .articles .article {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);;
}

.content .articles .article:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    transition: 0.3s;
}

.content .articles .article .id-article {
    color: #555454;
    font-size: 22px;
}

.content .articles .article .box {
    width: 92%;
    padding: 10px;
}

.content .articles .article .lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content .articles .article .lower .article-admin {
    width: 70%;
    text-align: left;
}

/************** ARTICLE **************/

.content .articles .article .box-article {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.content .articles .article .box-article h2 {
    text-align: center;
}
.content .articles .center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 1020px) {

    .content .articles {
        width: 90%;
        height: 100%;
        padding-top: 80px;
        margin: 0;
    }
}

@media (max-width: 767px) {

    .content .articles .article .id-article {
        display: none;
    }

    .content .articles .article .lower {
        display: flex;
        flex-direction: column;
    }

    .content .articles .article .lower .article-admin {
        width: 90%;
    }
}
