@import url("./style.css");

/************** ARTICLES **************/

.content .articles {
    width: 1000px;
    margin: 100px 0;
}

.content .articles .article {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 0;
    cursor: pointer;
}

.content .articles .box {
    border: 1px solid #c29932;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.content .articles .box:hover {
    box-shadow: 0px 0px 10px 0px #555454;
    transition: 0.3s;
}

.content .articles .article .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content .articles .article .buttons p {
    width: 90%;
}

.fa-trash:hover {
    color: #c61919;
}

.fa-edit:hover {
    color: #2196f3;
}

.content .articles .create {
    display: flex;
    justify-content: center;
}

.content .articles .create .submit {
    background-color: white;
    border: 1px solid #c29932;
    border-radius: 4px;
    margin: 15px;
    padding: 8px;
    font-size: 18px;
    color: #c29932;
    cursor: pointer;
}

.content .articles .create .submit:hover {
    background-color: #c29932;
    color: white;
    box-shadow: 0px 0px 10px 0px #555454;
    transition: 0.3s;
}
